    <script>
	    $(function() {
		    $( "a", "#menu" ).button();
		    
		    $( "#jobssplit" )
			.button()
			.next()
				.button( {
					text: false,
					icons: {
						primary: "ui-icon-triangle-1-s"
					}
				})
				.click(function() {
					alert( "Could display a menu to select an action" );
				})
				.parent()
					.buttonset();
			
			$( "#scheduledsplit" )
			.button()
			.next()
				.button( {
					text: false,
					icons: {
						primary: "ui-icon-triangle-1-s"
					}
				})
				.click(function() {
					alert( "Could display a menu to select an action" );
				})
				.parent()
					.buttonset();
	    });
	</script>

<div id="menu">
    <ul>
        <li><a title="Go To Jobqueue Home" href="{{ path('ninethousand_jobqueue_home') }}" >Jobqueue Home</a></li>
        <li>
            <button href="{{ path('jobqueue_job') }}" id="jobssplit" >Jobs</button>
            <button id="jobsselect">Select an action</button>
        </li>
        <li>
            <button href="{{ path('jobqueue_scheduledjob') }}" id="scheduledsplit" >Scheduled</button>
            <button id="jobsselect" >Select an action</button>
        </li>
        <li><a title="Create a New Job" href="{{ path('jobqueue_job_new') }}" >New Job</a></li>
        <li><a title="View Jobqueue History" href="{{ path('jobqueue_history') }}" >History</a></li>
    </ul>
</div>
