    <script>
        
	    $(function() {
		    $( "a", "#menu" ).button();
		    
		    $( "#jobssplit" )
			.button()
			.next()
				.button( {
					text: false,
					icons: {
						primary: "ui-icon-triangle-1-s"
					}
				})
				.click(function() {
					$( "#jobmenu" ).toggle( 'blind', {}, 170);
				})
				.parent()
					.buttonset();
				
			$( "#jobmenu" ).mouseleave(function() {
				$( "#jobmenu" ).toggle( 'blind', {}, 170);
			})
	    });
	</script>

<div id="menu">
    <ul>
        <li><a class="single noajax" title="Go To Jobqueue Home" href="{{ path('ninethousand_jobqueue_home') }}" >Jobqueue Home</a></li>
        <li>
            <a class="split" title="Jobs" href="{{ path('jobqueue_job') }}" id="jobssplit" >Jobs</a>
            <a id="jobsselect" class="noajax">Select an action</a>
	        <div id="jobmenu" class="ui-widget-content ui-corner-all">
                <a class="submenu" title="Pending Jobs" href="{{ path('jobqueue_job') }}?status=pending" >Pending</a>
                <a class="submenu" title="Successful Jobs" href="{{ path('jobqueue_job') }}?status=success" >Successful</a>
                <a class="submenu" title="Retry Jobs" href="{{ path('jobqueue_job') }}?status=retry" >Retry</a>
                <a class="submenu" title="Failed Jobs" href="{{ path('jobqueue_job') }}?status=fail" >Failed</a>
            </div>
        </li>
        <li><a class="single" title="Scheduled Jobs" href="{{ path('jobqueue_scheduledjob') }}" >Scheduled</a></li>
        <li><a class="single" title="Create a New Job" href="{{ path('jobqueue_job_new') }}" >New Job</a></li>
        <li><a class="single" title="View Jobqueue History" href="{{ path('jobqueue_history') }}" >History</a></li>
    </ul>
</div>
