 {% if pagination.pages %}
    <script>
	    $(function() {
	        $( ".pagination" ).buttonset();
		    $( "a, button", ".pagination" ).button();
		    $( "button", ".pagination" ).button( "disable" )
	    });
	</script>
 <section class="pagination" >
    <ul>
        <li>
            <a title="First Page" href="{{ path(app.request.attributes.get('_route')) }}?{{ pagination.param }}=1">First</a>
        </li>
        {% for p in pagination.pages %}
        <li>
        {% if p == pagination.current %}
            <button>{{ p }}</button>
            {% else %}
            <a title="Page {{ p }}" href="{{ path(app.request.attributes.get('_route')) }}?{{ pagination.param }}={{ p }}">{{ p }}</a>
            {% endif %}
        </li>
        {% endfor %}
        <li>
            <a title="Last Page" href="{{ path(app.request.attributes.get('_route')) }}?{{ pagination.param }}={{ pagination.last }}">Last</a>
        </li>
    </ul>
 </section>
 {% endif %}
