<h1>Arg</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>                <td>{{ entity.id }}</td>        </tr>
        <tr>
            <th>Job</th>                <td>{{ entity.job }}</td>        </tr>
        <tr>
            <th>Value</th>                <td>{{ entity.value }}</td>        </tr>
        <tr>
            <th>Active</th>                <td>{{ entity.active }}</td>        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('jobqueue_arg') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('jobqueue_arg_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('jobqueue_arg_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
