 {% extends app.request.isXmlHttpRequest() ? 'NineThousandJobqueueBundle::ajax.html.twig' : 'NineThousandJobqueueBundle::layout.html.twig' %}
 
 {% block title "Jobqueue History" %}
 {% block body %}
  <div id="history" >
    {% if not app.request.isXmlHttpRequest() %}
        <h1 >Job History</h1>
    {% endif %}
    {% if not app.request.isXmlHttpRequest() and pagination.last > 1 %}
        {% include "NineThousandJobqueueBundle::pagination.html.twig" %}
    {% endif %}
    {% if history.total %}
        <table class="history_list">
            <thead>
                <tr>
                    <th>Job id</th>
                    <th>Job Type</th>
                    <th>Status</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
        <tbody>
            {% for entry in history %}
                <tr>
                    <td>{{ entry.jobId }}</td>
                    <td>{{ entry.jobType }}</td>
                    <td>{{ entry.status }}</td>
                    <td>{{ entry.timestamp|date("Y-m-d g:ia") }}</td>
                </tr>
                <tr>
                    <td colspan="4">{{ entry.message }}</td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <p class="emptyhistory"> No jobs found in history </p>
        {% endif %}
 </div>
    {% if not app.request.isXmlHttpRequest() and pagination.last > 1 %}
        {% include "NineThousandJobqueueBundle::pagination.html.twig" %}
    {% endif %}
 {% endblock %}
