 {% extends 'NineThousandJobqueueBundle::layout.html.twig' %}
 {% block title "Jobqueue History" %}
 {% block body %}
 
 {% include "NineThousandJobqueueBundle::pagination.html.twig" %}
 <section id="history" />
    <h1 >Jobqueue History</h1>
    <article id="jobhistory">
    {% if history.total %}
            <ul>
            {% for entry in history %}
                <li class="ui-state-default">
                    <ul class="jobdata">
                        <lh> Job id </lh>
                        <li> {{ entry.jobId }} </li>
                        <lh> Job Type </lh>
                        <li> {{ entry.jobType }} </li>
                        <lh> Status </lh>
                        <li> {{ entry.status }} </li>
                        <lh> Message </lh>
                        <li> {{ entry.message }} </li>
                        <lh> Job Schedule </lh>
                        <li> {{ entry.jobSchedule }} </li>
                        <lh> Timestamp </lh>
                        <li> {{ entry.timestamp|date("Y-m-d g:ia") }} </li>
                    </ul>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p class="emptyhistory"> No jobs found in history </p>
        {% endif %}
    </article>
 </section>
 {% include "NineThousandJobqueueBundle::pagination.html.twig" %}
 {% endblock %}
