 {% extends app.request.isXmlHttpRequest() ? 'NineThousandJobqueueBundle::ajax.html.twig' : 'NineThousandJobqueueBundle::layout.html.twig' %}
 {% block title "Jobqueue History" %}
 {% block body %}
  <div id="history" >
    <h1 >Jobqueue History</h1>
    {% include "NineThousandJobqueueBundle::pagination.html.twig" %}
    {% if history.total %}
            <ul>
            {% for entry in history %}
                <li>
                    <span><strong> Job id </strong> {{ entry.jobId }} </span>
                    <span><strong> Job Type </strong> {{ entry.jobType }} </span>
                    <span><strong> Status </strong> {{ entry.status }} </span>
                    <span><strong> Message </strong> {{ entry.message }} </span>
                    <span><strong> Job Schedule </strong> {{ entry.jobSchedule }} </span>
                    <span><strong> Timestamp </strong> {{ entry.timestamp|date("Y-m-d g:ia") }} </span>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p class="emptyhistory"> No jobs found in history </p>
        {% endif %}
 </div>
 {% include "NineThousandJobqueueBundle::pagination.html.twig" %}
 {% endblock %}
