{% extends app.request.isXmlHttpRequest() ? 'NineThousandJobqueueBundle::ajax.html.twig' : 'NineThousandJobqueueBundle::layout.html.twig' %}
 {% block title "Jobs" %}
 {% block body %}
 <script>
    $(function() {
        $( "button", "#newjob form" ).button();
        $('#btnParamDel').attr('disabled', true);
        $('#btnArgDel').attr('disabled','disabled');
        $('#btnTagDel').attr('disabled','disabled');
        
        $('#btnParamAdd').click(function() {
            var num     = $('.paramItem').length; // how many "duplicatable" input fields we currently have
            var newNum  = new Number(num + 1);      // the numeric ID of the new input field being added
 
            // create the new element via clone(), and manipulate it's ID using newNum value
            var newElem = $('#param' + num).clone().attr('id', 'param' + newNum);
 
            // manipulate the name/id values of the input inside the new element
            paramKeyInput = newElem.children(':first').children('.paramkey').children('input');
            paramValueInput = newElem.children(':first').children('.paramval').children('input');
            paramKeyInput.attr('id', 'jobqueue_job_params_' + newNum + '_key').attr('name', 'jobqueue_job[params][' + newNum + '][key]');
            paramValueInput.attr('id', 'jobqueue_job_params_' + newNum + '_value').attr('name', 'jobqueue_job[params][' + newNum + '][value]');
 
            // insert the new element after the last "duplicatable" input field
            $('#param' + num).after(newElem);
 
            // enable the "remove" button
            $('#btnParamDel').attr('disabled', false);
            return false;
        });
        $('#btnParamDel').click(function() {
            var num     = $('.paramItem').length; // how many "duplicatable" input fields we currently have
            $('#param' + num).remove();     // remove the last element
         
            // if only one element remains, disable the "remove" button
            if (num-1 == 1)
                $('#btnParamDel').attr('disabled', true);
            return false;
        });
        
        $('#btnArgAdd').click(function() {
            var num     = $('.argItem').length; // how many "duplicatable" input fields we currently have
            var newNum  = new Number(num + 1);      // the numeric ID of the new input field being added
 
            // create the new element via clone(), and manipulate it's ID using newNum value
            var newElem = $('#arg' + num).clone().attr('id', 'arg' + newNum);
 
            // manipulate the name/id values of the input inside the new element
            newElem.children(':first').children('input').attr('id', 'jobqueue_job_args_' + newNum + '_value').attr('name', 'jobqueue_job[args][' + newNum + '][value]');
 
            // insert the new element after the last "duplicatable" input field
            $('#arg' + num).after(newElem);
 
            // enable the "remove" button
            $('#btnArgDel').attr('disabled', false);
            return false;
        });
        $('#btnArgDel').click(function() {
            var num     = $('.argItem').length; // how many "duplicatable" input fields we currently have
            $('#arg' + num).remove();     // remove the last element
         
            // if only one element remains, disable the "remove" button
            if (num-1 == 1)
                $('#btnArgDel').attr('disabled', true);
            return false;
        });
        
        $('#btnTagAdd').click(function() {
            var num     = $('.tagItem').length; // how many "duplicatable" input fields we currently have
            var newNum  = new Number(num + 1);      // the numeric ID of the new input field being added
 
            // create the new element via clone(), and manipulate it's ID using newNum value
            var newElem = $('#tag' + num).clone().attr('id', 'tag' + newNum);
 
            // manipulate the name/id values of the input inside the new element
            newElem.children(':first').children('input').attr('id', 'jobqueue_job_tags_' + newNum + '_value').attr('name', 'jobqueue_job[tags][' + newNum + '][value]');
 
            // insert the new element after the last "duplicatable" input field
            $('#tag' + num).after(newElem);
 
            // enable the "remove" button
            $('#btnTagDel').attr('disabled', false);
            return false;
        });
        $('#btnTagDel').click(function() {
            var num     = $('.tagItem').length; // how many "duplicatable" input fields we currently have
            $('#tag' + num).remove();     // remove the last element
         
            // if only one element remains, disable the "remove" button
            if (num-1 == 1)
                $('#btnTagDel').attr('disabled', true);
            return false;
        });
    });
  </script>
  <div id="editjob" >
    <form action="{{ path('jobqueue_job_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
        <div class="job">
            <h2> Job Information</h2>
            {{ form_row(form.type) }}
            {{ form_errors(form.type) }}
            {{ form_row(form.executable) }}
            {{ form_errors(form.executable) }}
            {{ form_row(form.retry) }}
            {{ form_errors(form.retry) }}
            {{ form_row(form.cooldown) }}
            {{ form_errors(form.cooldown) }}
            {{ form_row(form.maxRetries) }}
            {{ form_errors(form.maxRetries) }}
        </div>
        <div class="param">
            <h2>Parameters</h2>
            <ul>
            {% for param in form.params %}
                <li>
                    <span>{{ form_widget(param.key) }}</span>&#61;<span>{{ form_widget(param.value) }}</span>
                </li>
                <li>
                    <span>{{ form_errors(param.key) }}</span> <span>{{ form_errors(param.value) }}</span>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="arg">
            <h2>Arguments</h2>
            <ul>
            {% for arg in form.args %}
                <li>
                    {{ form_widget(arg.value) }}
                </li>
                <li>
                    {{ form_errors(arg.value) }}
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="tag">
            <h2>Tags</h2>
            <ul>
            {% for tag in form.tags %}
                <li>
                    {{ form_widget(tag.value) }}
                </li>
                <li>
                    {{ form_errors(tag.value) }}
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="submit">
            <button type="submit">Save</button>
        </div>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('jobqueue_job') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('jobqueue_job_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
