 {% extends app.request.isXmlHttpRequest() ? 'NineThousandJobqueueBundle::ajax.html.twig' : 'NineThousandJobqueueBundle::layout.html.twig' %}
 {% block title "Jobs" %}
 
 {% block body %}


<script>
 
    $(function() {
        $( ".record_action" ).buttonset();
        $( ".submenu" ).buttonset();
        $( ".jobid" ).button();
        
    });
</script>
<div id="jobs">
    {% if not app.request.isXmlHttpRequest() %}
        <h1 >Job List</h1>
    {% endif %}
    {% if not app.request.isXmlHttpRequest() and pagination.last > 1 %}
        {% include "NineThousandJobqueueBundle::pagination.html.twig" %}
    {% endif %}

    <ul>
        <li class="submenu">
            <a href="{{ path('jobqueue_job_new') }}">Create a new Job</a>
        </li>
    </ul>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Executable</th>
                <th>Type</th>
                <th>Status</th>
                <th>Lastrundate</th>
                <th>Parent</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a class="jobid" title="{{ entity.id }}" href="{{ path('jobqueue_job_show', { 'id': entity.id }) }}">Job #{{ entity.id }}</a></td>
                <td>{{ entity.executable }}</td>
                <td>{{ entity.type }}</td>
                <td>{{ entity.status }}</td>
                <td>{{ entity.lastrunDate|date('Y-m-d H:i:s') }}</td>
                <td>{{ entity.parent }}</td>
                <td>
                <div class="record_action">
                    <input type="checkbox" id="edit_{{ entity.id }}" value="{{ path('jobqueue_job_edit', { 'id': entity.id }) }}" />
                
                    <label for="edit_{{ entity.id }}">Edit</label>
             
                    <input type="checkbox" id="deactivate_{{ entity.id }}" value="deactivate_form_{{ entity.id }}"  
                        {% if not entity.active  %} disabled="true" {% endif %} 
                        />
                
                    <label for="deactivate_{{ entity.id }}">Deactivate</label>

	                <input type="checkbox" id="activate_{{ entity.id }}" value="activate_form_{{ entity.id }}" 
                        {% if entity.active  %} disabled="true" {% endif %}
                        />

	                <label for="activate_{{ entity.id }}">Activate</label>

	                <input type="checkbox" id="retry_{{ entity.id }}" value="retry_form_{{ entity.id }}"
                        {% if entity.active  %} 
                            disabled="true" 
                        {% elseif entity.retry and entity.attempts < entity.maxRetries %}
                            disabled="true"
                        {% endif %}
	                    />
	               
	                <label for="retry_{{ entity.id }}">Retry</label>
                </div>
                <div class="record_action_forms">
                    <form action="{{ path('jobqueue_job_deactivate', { 'id': entity.id }) }}" method="post" name="deactivate_form_{{ entity.id }}">
                        {% set deactivate_form = forms[entity.id]['deactivate_form'] %}
                        {{ form_widget(deactivate_form) }}
                    </form>
                    <form action="{{ path('jobqueue_job_activate', { 'id': entity.id }) }}" method="post" name="activate_form_{{ entity.id }}">
                        {% set activate_form = forms[entity.id]['activate_form'] %}
                        {{ form_widget(activate_form) }}
                    </form>
                    <form action="{{ path('jobqueue_job_retry', { 'id': entity.id }) }}" method="post" name="retry_form_{{ entity.id }}">
                        {% set retry_form = forms[entity.id]['retry_form'] %}
                        {{ form_widget(retry_form) }}
                    </form>
                </div>
                </td>
         </tr>
         <tr>
            <td colspan="7" class="hidden">
                <div class="jobdetails"></div>
                <div class="jobhistory"></div>
            </td>
         </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if not app.request.isXmlHttpRequest() and pagination.last > 1 %}
        {% include "NineThousandJobqueueBundle::pagination.html.twig" %}
    {% endif %}
</div>

 {% endblock %}
